In [22]:
import pandas as pd

In [23]:
df =pd.read_csv("compas-scores-raw.csv")

to_drop = ['IsCompleted', 'IsDeleted', 'AssessmentType', 'MiddleName',
           'Person_ID', 'AssessmentID', 'Case_ID', 'Agency_Text',
           'LastName', 'FirstName', 'DateOfBirth', 'Language',
           'RecSupervisionLevel', 'RecSupervisionLevelText', 'DisplayText',
           'RawScore', 'DecileScore', 'Screening_Date', 'ScaleSet']
df = df.drop(to_drop, axis=1)


Sex_Code_Text = {"Male": 1, "Female": 2}
df["Sex_Code_Text"] = df["Sex_Code_Text"].map(Sex_Code_Text)

Ethnic_Code_Text = {"Caucasian": 1, "African-American": 2, "African-Am": 2}
df["Ethnic_Code_Text"] = df["Ethnic_Code_Text"].map(Ethnic_Code_Text)

LegalStatus = {'Pretrial': 1, 'Post Sentence': 2, 'Conditional Release': 3,
               'Probation Violator': 4, 'Parole Violator': 5, 'Deferred Sentencing': 6, 'Other': 7}
df["LegalStatus"] = df["LegalStatus"].map(LegalStatus)

AssessmentReason = {"Intake": 1}
df["AssessmentReason"] = df["AssessmentReason"].map(AssessmentReason)

CustodyStatus = {'Jail Inmate': 1, 'Probation': 2, 'Pretrial Defendant': 3, 'Residential Program': 4,
                 'Prison Inmate': 5, 'Parole': 6}
df["CustodyStatus"] = df["CustodyStatus"].map(CustodyStatus)

MaritalStatus = {'Single': 1, 'Married': 2, 'Significant Other': 3, 'Divorced': 4, 'Separated': 5, 'Widowed': 6,
                 'Unknown': 7}
df["MaritalStatus"] = df["MaritalStatus"].map(MaritalStatus)

ScaleSet_ID = {22: 1, 17: 2}
df["ScaleSet_ID"] = df["ScaleSet_ID"].map(ScaleSet_ID)

Scale_ID = {7: 1, 8: 2, 18: 3}
df["Scale_ID"] = df["Scale_ID"].map(Scale_ID)

ScoreText={"Low":1, "Medium":2, "High":3 }
df["ScoreText"]=df["ScoreText"].map(ScoreText)

df = df.dropna()

In [24]:
df.head(20)

,Sex_Code_Text,Ethnic_Code_Text,ScaleSet_ID,AssessmentReason,LegalStatus,CustodyStatus,MaritalStatus,Scale_ID,ScoreText
0,1,1.0,1,1,1,1,1,1,1.0
1,1,1.0,1,1,1,1,1,2,1.0
2,1,1.0,1,1,1,1,1,3,1.0
3,1,1.0,1,1,1,1,2,1,1.0
4,1,1.0,1,1,1,1,2,2,1.0
5,1,1.0,1,1,1,1,2,3,1.0
6,1,2.0,1,1,1,1,1,1,3.0
7,1,2.0,1,1,1,1,1,2,3.0
8,1,2.0,1,1,1,1,1,3,1.0
9,2,2.0,1,1,1,1,3,1,2.0
10,2,2.0,1,1,1,1,3,2,2.0
11,2,2.0,1,1,1,1,3,3,1.0
12,2,2.0,1,1,1,1,1,1,1.0
13,2,2.0,1,1,1,1,1,2,1.0
14,2,2.0,1,1,1,1,1,3,1.0
18,2,1.0,1,1,1,1,1,1,1.0
19,2,1.0,1,1,1,1,1,2,1.0
20,2,1.0,1,1,1,1,1,3,1.0
21,1,2.0,1,1,1,1,1,1,2.0
22,1,2.0,1,1,1,1,1,2,3.0

In [21]:
# df.to_csv("compas-scores-preprocessed.csv", index=False, header=False)

In [27]:
df.describe().applymap(lambda x: f"{x:0.3f}")

,Sex_Code_Text,Ethnic_Code_Text,ScaleSet_ID,AssessmentReason,LegalStatus,CustodyStatus,MaritalStatus,Scale_ID,ScoreText
count,48818.000,48818.000,48818.000,48818.000,48818.000,48818.000,48818.000,48818.000,48818.000
mean,1.226,1.554,1.039,1.000,1.616,1.614,1.488,2.000,1.475
std,0.418,0.497,0.193,0.000,1.339,0.720,1.089,0.817,0.710
min,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
25%,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
50%,1.000,2.000,1.000,1.000,1.000,1.000,1.000,2.000,1.000
75%,1.000,2.000,1.000,1.000,2.000,2.000,1.000,3.000,2.000
max,2.000,2.000,2.000,1.000,7.000,6.000,7.000,3.000,3.000