In [1]:
import pandas as pd

In [23]:
df =pd.read_csv("compas-scores-raw.csv")

to_drop = ['IsCompleted', 'IsDeleted', 'AssessmentType', 'MiddleName',
           'Person_ID', 'AssessmentID', 'Case_ID', 'Agency_Text',
           'LastName', 'FirstName', 'DateOfBirth', 'Language',
           'RecSupervisionLevel', 'RecSupervisionLevelText', 'DisplayText',
           'RawScore', 'DecileScore', 'Screening_Date', 'ScaleSet']
df = df.drop(to_drop, axis=1)


Sex_Code_Text = {"Male": 1, "Female": 2}
df["Sex_Code_Text"] = df["Sex_Code_Text"].map(Sex_Code_Text)

Ethnic_Code_Text = {"Caucasian": 1, "African-American": 2, "African-Am": 2}
df["Ethnic_Code_Text"] = df["Ethnic_Code_Text"].map(Ethnic_Code_Text)

LegalStatus = {'Pretrial': 1, 'Post Sentence': 2, 'Conditional Release': 3,
               'Probation Violator': 4, 'Parole Violator': 5, 'Deferred Sentencing': 6, 'Other': 7}
df["LegalStatus"] = df["LegalStatus"].map(LegalStatus)

AssessmentReason = {"Intake": 1}
df["AssessmentReason"] = df["AssessmentReason"].map(AssessmentReason)

CustodyStatus = {'Jail Inmate': 1, 'Probation': 2, 'Pretrial Defendant': 3, 'Residential Program': 4,
                 'Prison Inmate': 5, 'Parole': 6}
df["CustodyStatus"] = df["CustodyStatus"].map(CustodyStatus)

MaritalStatus = {'Single': 1, 'Married': 2, 'Significant Other': 3, 'Divorced': 4, 'Separated': 5, 'Widowed': 6,
                 'Unknown': 7}
df["MaritalStatus"] = df["MaritalStatus"].map(MaritalStatus)

ScaleSet_ID = {22: 1, 17: 2}
df["ScaleSet_ID"] = df["ScaleSet_ID"].map(ScaleSet_ID)

Scale_ID = {7: 1, 8: 2, 18: 3}
df["Scale_ID"] = df["Scale_ID"].map(Scale_ID)

ScoreText={"Low":1, "Medium":2, "High":3 }
df["ScoreText"]=df["ScoreText"].map(ScoreText)

df = df.dropna()

In [24]:
df.head(20)

,Sex_Code_Text,Ethnic_Code_Text,ScaleSet_ID,AssessmentReason,LegalStatus,CustodyStatus,MaritalStatus,Scale_ID,ScoreText
0,1,1.0,1,1,1,1,1,1,1.0
1,1,1.0,1,1,1,1,1,2,1.0
2,1,1.0,1,1,1,1,1,3,1.0
3,1,1.0,1,1,1,1,2,1,1.0
4,1,1.0,1,1,1,1,2,2,1.0
5,1,1.0,1,1,1,1,2,3,1.0
6,1,2.0,1,1,1,1,1,1,3.0
7,1,2.0,1,1,1,1,1,2,3.0
8,1,2.0,1,1,1,1,1,3,1.0
9,2,2.0,1,1,1,1,3,1,2.0
10,2,2.0,1,1,1,1,3,2,2.0
11,2,2.0,1,1,1,1,3,3,1.0
12,2,2.0,1,1,1,1,1,1,1.0
13,2,2.0,1,1,1,1,1,2,1.0
14,2,2.0,1,1,1,1,1,3,1.0
18,2,1.0,1,1,1,1,1,1,1.0
19,2,1.0,1,1,1,1,1,2,1.0
20,2,1.0,1,1,1,1,1,3,1.0
21,1,2.0,1,1,1,1,1,1,2.0
22,1,2.0,1,1,1,1,1,2,3.0

In [21]:
# df.to_csv("compas-scores-preprocessed.csv", index=False, header=False)

In [27]:
df.describe().applymap(lambda x: f"{x:0.3f}")

,Sex_Code_Text,Ethnic_Code_Text,ScaleSet_ID,AssessmentReason,LegalStatus,CustodyStatus,MaritalStatus,Scale_ID,ScoreText
count,48818.000,48818.000,48818.000,48818.000,48818.000,48818.000,48818.000,48818.000,48818.000
mean,1.226,1.554,1.039,1.000,1.616,1.614,1.488,2.000,1.475
std,0.418,0.497,0.193,0.000,1.339,0.720,1.089,0.817,0.710
min,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
25%,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
50%,1.000,2.000,1.000,1.000,1.000,1.000,1.000,2.000,1.000
75%,1.000,2.000,1.000,1.000,2.000,2.000,1.000,3.000,2.000
max,2.000,2.000,2.000,1.000,7.000,6.000,7.000,3.000,3.000

In [66]:
# German

headers=["Status of existing checking account","Duration in month","Credit history",\
         "Purpose","Credit amount","Savings account/bonds","Present employment since",\
         "Installment rate in percentage of disposable income","Personal status and sex",\
         "Other debtors / guarantors","Present residence since","Property","Age in years",\
        "Other installment plans","Housing","Number of existing credits at this bank",\
        "Job","Number of people being liable to provide maintenance for","Telephone","foreign worker","Cost Matrix(Risk)"]
df=pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data",sep=" ",header=None)
df.columns=headers
# df = pd.read_csv("german-data.csv", names=header, delimiter=r"\s+")
df['Credit amount']

0      1169
1      5951
2      2096
3      7882
4      4870
       ...
995    1736
996    3857
997     804
998    1845
999    4576
Name: Credit amount, Length: 1000, dtype: int64

In [67]:
for col in df.columns:
    unique_values = df[col].unique()
    print(f"Unique values in column '{col}': {len(unique_values)}")

Unique values in column 'Status of existing checking account': 4
Unique values in column 'Duration in month': 33
Unique values in column 'Credit history': 5
Unique values in column 'Purpose': 10
Unique values in column 'Credit amount': 921
Unique values in column 'Savings account/bonds': 5
Unique values in column 'Present employment since': 5
Unique values in column 'Installment rate in percentage of disposable income': 4
Unique values in column 'Personal status and sex': 4
Unique values in column 'Other debtors / guarantors': 3
Unique values in column 'Present residence since': 4
Unique values in column 'Property': 4
Unique values in column 'Age in years': 53
Unique values in column 'Other installment plans': 3
Unique values in column 'Housing': 3
Unique values in column 'Number of existing credits at this bank': 4
Unique values in column 'Job': 4
Unique values in column 'Number of people being liable to provide maintenance for': 2
Unique values in column 'Telephone': 2
Unique values in column 'foreign worker': 2
Unique values in column 'Cost Matrix(Risk)': 2

In [68]:
object_columns = df.select_dtypes(include=['object']).columns

# Step 2: Convert each unique string in these columns to a unique integer
for col in object_columns:
    df[col] = pd.factorize(df[col])[0]

In [69]:
for col in df.columns:
    unique_values = df[col].unique()
    print(f"Unique values in column '{col}': {len(unique_values)}")

Unique values in column 'Status of existing checking account': 4
Unique values in column 'Duration in month': 33
Unique values in column 'Credit history': 5
Unique values in column 'Purpose': 10
Unique values in column 'Credit amount': 921
Unique values in column 'Savings account/bonds': 5
Unique values in column 'Present employment since': 5
Unique values in column 'Installment rate in percentage of disposable income': 4
Unique values in column 'Personal status and sex': 4
Unique values in column 'Other debtors / guarantors': 3
Unique values in column 'Present residence since': 4
Unique values in column 'Property': 4
Unique values in column 'Age in years': 53
Unique values in column 'Other installment plans': 3
Unique values in column 'Housing': 3
Unique values in column 'Number of existing credits at this bank': 4
Unique values in column 'Job': 4
Unique values in column 'Number of people being liable to provide maintenance for': 2
Unique values in column 'Telephone': 2
Unique values in column 'foreign worker': 2
Unique values in column 'Cost Matrix(Risk)': 2

In [70]:
to_keep = ['Credit']

to_keep = ["Duration in month",
           "Credit amount",
           "Installment rate in percentage of disposable income",
           "Age in years",
           "Number of existing credits at this bank",
           "Cost Matrix(Risk)"]

df = df[to_keep]

In [71]:
df

,Duration in month,Credit amount,Installment rate in percentage of disposable income,Age in years,Number of existing credits at this bank,Cost Matrix(Risk)
0,6,1169,4,67,2,1
1,48,5951,2,22,1,2
2,12,2096,2,49,1,1
3,42,7882,2,45,1,1
4,24,4870,3,53,2,2
...,...,...,...,...,...,...
995,12,1736,3,31,1,1
996,30,3857,4,40,1,1
997,12,804,4,38,1,1
998,45,1845,4,23,1,2
999,45,4576,3,27,1,1

In [72]:
df.to_csv("german-preprocessed.csv", index=False, header=False)